/* 
    Name: Shutirtha Roy
    Student ID: 105008711
    Course: COS80021 Web Application Development
    Function: This file contains the css of the shiponline.php page. 
*/

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/api/placeholder/1200/400');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}
.feature-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}